<div class="login-page">
  <div class="container">
  <div class="titles">
    <p class="title">Collaborative Whiteboard</p>
    <p class="subtitle">Share the whiteboard with your friends and increase your productivity</p>
    <p class="subsubtitle">Create a new room or join an existing one</p>
  </div>
<br>

    <div class="buttons">
      <button type="submit" class="btn" [ngClass]="{selected: !joinRoom}" (click)="joinRoom = false">Create Room</button>
      <button type="submit" class="btn" [ngClass]="{selected: joinRoom}" (click)="joinRoom = true">Join Room</button>
    </div>
    <form [formGroup]="formGroup">
  <input type="email" placeholder="Email" formControlName="email"/>
  <br>
  <input type="password" placeholder="Password" formControlName="password"/>
  <br>
  <input *ngIf="joinRoom" type="text" placeholder="Room" formControlName="roomname"/>
  <br>
  <button type="submit" class="btn" (click)="login(!joinRoom)">{{joinRoom? "Join" : "Create"}}</button>
</form>
  </div>
</div>
