<div class="login-page">
<div id="background"></div>
<p class="title">Collaborative Whiteboard</p>

<p class="subtitle">Share the whiteboard with your friends and increase your productivity</p>

<p class="subtitle">Create a new room or join an existing one</p>

<br>

  <button type="submit" class="btn" (click)="joinRoom = !joinRoom">{{joinRoom? "Create Room" : "Join Room"}}</button>
<form [formGroup]="formGroup">
  <input type="email" placeholder="Email" formControlName="email"/>
  <br>
  <input type="password" placeholder="Password" formControlName="password"/>
  <br>
  <input *ngIf="joinRoom" type="text" placeholder="Room" formControlName="roomname"/>
  <br>
  <button type="submit" class="btn" (click)="login(!joinRoom)">{{joinRoom? "Join" : "Create"}}</button>
</form>
</div>
