<div class="tools-bar flex-row row">
  <div class="flex-row col-lg-4 col-md-12 col-sm-12">
    <button mat-raised-button [color]='selectedButton["circle"] ? "primary":""' (click)='setSelection("circle"); addShape("circle")'>Circle</button>
    <button mat-raised-button [color]='selectedButton["rectangle"] ? "primary":""' (click)='setSelection("rectangle"); addShape("rectangle")'>Rectangle</button>
    <button mat-raised-button [color]='selectedButton["line"] ? "primary":""' (click)='setSelection("line"); addShape("line"); erase = false'>Pen</button>
    <button mat-raised-button [color]='selectedButton["text"] ? "primary":""' (click)='setSelection("text"); addShape("text")'>Text</button>
    <button mat-raised-button [color]='selectedButton["undo"] ? "primary":""' (click)='clearSelection(); setSelection("undo"); undo()'>Undo</button>
    <button mat-raised-button [color]='selectedButton["erase"] ? "primary":""' (click)='clearSelection(); setSelection("erase"); erase = true; clearBoard(true)'>Clear</button>
    <mat-form-field appearance="outline" style="width: 66px; padding: 0; margin: 0; margin-bottom: -1.25em">
      <mat-label>Size</mat-label>
      <mat-select [(value)]="currentStrokeWidth">
        <mat-option *ngFor="let strokeWidth of [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]" [value]="strokeWidth">
          {{strokeWidth}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <div class="col-lg-6 col-md-12 col-sm-12">
  <div class="flex-row">
      <div id="colorContainer" class="flex-row"  >
        <table style="display: inline; margin: 0">
          <tr>

            <td>
              <div class="color" style="background-color:black;height: 20px;
                        width: 20px;" (click)="changeColor($event.target)"></div>
            </td>
            <td>
              <div class="color" style="background-color:white;height: 20px;
                        width: 20px" (click)="changeColor($event.target)"></div>
            </td>
            <td>
              <div class="color" style="background-color:red;height: 20px;
                        width: 20px" (click)="changeColor($event.target)"></div>
            </td>
            <td>
              <div class="color" style="background-color:blue;height: 20px;
                        width: 20px" (click)="changeColor($event.target)"></div>
            </td>
            <td>
              <div class="color" style="background-color:green;height: 20px;
                        width: 20px" (click)="changeColor($event.target)"></div>
            </td>
            <td>
              <div class="color" style="background-color:crimson;height: 20px;
                        width: 20px" (click)="changeColor($event.target)"></div>
            </td>
            <td>
              <div class="color" style="background-color:skyblue;height: 20px;
                        width: 20px" (click)="changeColor($event.target)"></div>
            </td>
            <td>
              <div class="color" style="background-color:deepskyblue;height: 20px;
                        width: 20px" (click)="changeColor($event.target)"></div>
            </td>
            <td>
              <div class="color" style="background-color:purple;height: 20px;
                        width: 20px" (click)="changeColor($event.target)"></div>
            </td>
            <td>
              <div class="color" style="background-color:slateblue;height: 20px;
                        width: 20px" (click)="changeColor($event.target)"></div>
            </td>
            <td>
              <div class="color" style="background-color:brown;height: 20px;
                        width: 20px" (click)="changeColor($event.target)"></div>
            </td>
            <td>
              <div class="color" style="background-color:saddlebrown;height: 20px;
                        width: 20px" (click)="changeColor($event.target)"></div>
            </td>
            <td>
              <div class="color" style="background-color:dodgerblue;height: 20px;
                        width: 20px" (click)="changeColor($event.target)"></div>
            </td>
            <td>
              <div class="color" style="background-color:olive;height: 20px;
                        width: 20px" (click)="changeColor($event.target)"></div>
            </td>
            <td>
              <div class="color" style="background-color:forestgreen;height: 20px;
                        width: 20px" (click)="changeColor($event.target)"></div>
            </td>
            <td>
              <div class="color" style="background-color:orange;height: 20px;
                        width: 20px" (click)="changeColor($event.target)"></div>
            </td>
            <td>
              <div class="color" style="background-color:gold;height: 20px;
                        width: 20px" (click)="changeColor($event.target)"></div>
            </td>

          </tr>

          <tr>
            <td>
              <div class="color" style="background-color:gray;height: 20px;
                        width: 20px" (click)="changeColor($event.target)"></div>
            </td>
            <td>
              <div class="color" style="background-color:darkgray;height: 20px;
                        width: 20px" (click)="changeColor($event.target)"></div>
            </td>
            <td>
              <div class="color" style="background-color:whitesmoke;height: 20px;
                        width: 20px" (click)="changeColor($event.target)"></div>
            </td>
            <td>
              <div class="color" style="background-color:azure;height: 20px;
                        width: 20px" (click)="changeColor($event.target)"></div>
            </td>
            <td>
              <div class="color" style="background-color:pink;height: 20px;
                        width: 20px" (click)="changeColor($event.target)"></div>
            </td>
            <td>
              <div class="color" style="background-color:burlywood;height: 20px;
                        width: 20px" (click)="changeColor($event.target)"></div>
            </td>
            <td>
              <div class="color" style="background-color:coral;height: 20px;
                        width: 20px" (click)="changeColor($event.target)"></div>
            </td>
            <td>
              <div class="color" style="background-color:chocolate;height: 20px;
                        width: 20px" (click)="changeColor($event.target)"></div>
            </td>
            <td>
              <div class="color" style="background-color:firebrick;height: 20px;
                        width: 20px" (click)="changeColor($event.target)"></div>
            </td>
            <td>
              <div class="color" style="background-color:slateblue;height: 20px;
                        width: 20px" (click)="changeColor($event.target)"></div>
            </td>
            <td>
              <div class="color" style="background-color:darkorange;height: 20px;
                        width: 20px" (click)="changeColor($event.target)"></div>
            </td>
            <td>
              <div class="color" style="background-color:darksalmon;height: 20px;
                        width: 20px" (click)="changeColor($event.target)"></div>
            </td>
            <td>
              <div class="color" style="background-color:deeppink;height: 20px;
                        width: 20px" (click)="changeColor($event.target)"></div>
            </td>
            <td>
              <div class="color" style="background-color:violet;height: 20px;
                        width: 20px" (click)="changeColor($event.target)"></div>
            </td>
            <td>
              <div class="color" style="background-color:darkturquoise;height: 20px;
                        width: 20px" (click)="changeColor($event.target)"></div>
            </td>
            <td>
              <div class="color" style="background-color:turquoise;height: 20px;
                        width: 20px" (click)="changeColor($event.target)"></div>
            </td>
            <td>
              <div class="color" style="background-color:cornflowerblue;height: 20px;
                        width: 20px" (click)="changeColor($event.target)"></div>
            </td>
          </tr>
        </table>
        <div class="color" style="background-color:{{currentColor}};height: 40px;
                        width: 40px; margin: 0 4px" (click)="changeColor($event.target)"></div>
      </div>
  </div>
  </div>

  <div class="flex-row col-lg-2 col-md-12 col-sm-12">
    <mat-slide-toggle (change)='handleDarkMode()'>Dark Mode</mat-slide-toggle>
    <span *ngIf="!darkModeActive" class="material-icons">
      light_mode
    </span>
    <span *ngIf="darkModeActive" class="material-icons">
      dark_mode
    </span>
  </div>

  <div class="flex-row col-lg-12 col-md-12 col-sm-12">
    <span>Room Name: {{user.roomname}}</span>
  </div>


</div>
<div id="container" [ngClass]="{'dark-mode': darkModeActive}"></div>
<app-chat></app-chat>
