.chatWidget {
  position: fixed;
  bottom: 0;
  right: 2%;
  z-index: 3;
  height: 350px;
  width: 300px;
  background-color: white;
  opacity: 0.8;
  border-style: solid;
  border-color: saddlebrown;
  border-width: 5px;
  box-shadow: 1px 2px 3px rgba(0, 0, 0, .5);
}

.chatWidget.minimized {
  height: 48px;
}

.chatHead {
  color: white;
  text-align: left;
  background-color: saddlebrown;
  padding: 3% 10px;
}

.chatBtn {
  float: right;
  cursor: pointer;
  border-style: none;
  border-radius: 5px;
  outline: none;
  background-color: transparent;
  color: white;
}

.chatBtn:hover {
  color: white;
}

.chatBody {
  height: 265px;
  overflow: auto;
  text-align: left;
  padding: 5px;
  border-bottom-style: solid;
  border-bottom-color: saddlebrown;
  border-bottom-width: 2px;
  margin: 0 0 0 2px;
}

.msgBox {
  float: left;
  height: 34px;
  resize: none;
  outline: none;
  width: 80%;
  border-style: none;
  font-family: cursive;
  font-size: 15px;
  margin-left: 2px;
  background-color: white;
}

.btn {
  outline: none;
  border-style: none;
  z-index: 5;
}

#btnSend {
  background-color: transparent;
  cursor: pointer;
  color: saddlebrown;
}

#btnSend:hover {
  color: saddlebrown;
}

.chatMsgContainer {
  width: 100%;
  background-color: white;
  margin-bottom: 10px;
}

.notifier {
  position: absolute;
  top: -100;
  left: -100;
  z-index: 4;
  background-color: red;
  color: white;
  padding: 5px;
  border-radius: 100%;
}
