<div class="chatWidget" [ngClass]="{minimized: !maximized}">
  <div class="chatHead">
    <label id="chatMembers"> Chat </label>
    <div id="chatMinMax" class="chatBtn" (click)="handleMaximized()">
      <span *ngIf="maximized" class="material-icons">arrow_drop_down</span>
      <span *ngIf="!maximized" class="material-icons">arrow_drop_up</span>
    </div>
  </div>
  <div class="chatBody">
    <div *ngIf="messages">
      <div *ngFor="let chat of messages" class="chatMsgContainer">
        {{chat?.from}}: {{chat?.msg}}
      </div>
    </div>
  </div>

  <div class="flex-row">
    <input #input type="text" class="msgBox" id="txtChatMsg"/>
    <button id="btnSend" class="btn" (click)="sendMsg(input.value); input.value = '';">
      <span  class="material-icons" >send</span>
    </button>
  </div>

</div>
