.pages-list {
  .page {
    width: 252px;
    height: 150px;
    background-color: white;
    margin: 20px 10px;
  }

  .page.selected {
    border: #2aabd2 3px solid;
    box-shadow: #2aabd2 0 0 6px;
  }
}
